.food__header {
  margin: 2em;
}

.food__header, .selectedfood__header {
  text-align: center;
  text-transform: uppercase;
}

.remove {
  color: #ff0000;
}

.food__detail, .remove, .selected__food {
  cursor: pointer;
}
